
.Rproj.user/146C607B/console06/INDEX001
.Rproj.user/146C607B/pcs/files-pane.pper
.Rproj.user/146C607B/pcs/packages-pane.pper
.Rproj.user/146C607B/pcs/source-pane.pper
.Rproj.user/146C607B/pcs/windowlayoutstate.pper
.Rproj.user/146C607B/pcs/workbench-pane.pper
.Rproj.user/146C607B/persistent-state
.Rproj.user/146C607B/rmd-outputs
.Rproj.user/146C607B/saved_source_markers
.Rproj.user/146C607B/sources/prop/B79E8E15
.Rproj.user/146C607B/sources/prop/EE2F8A5A
.Rproj.user/146C607B/sources/prop/INDEX
.Rproj.user/146C607B/sources/s-8C526227/59E572D2-contents
.Rproj.user/146C607B/sources/s-8C526227/CE388FE4
.Rproj.user/146C607B/sources/s-8C526227/CE388FE4-contents
.Rproj.user/146C607B/sources/s-8C526227/E1F869D8
.Rproj.user/146C607B/sources/s-8C526227/E1F869D8-contents
.Rproj.user/146C607B/sources/s-8C526227/lock_file
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c2xldzk5aklai/000006.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c2xldzk5aklai/000007.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c2xldzk5aklai/000007.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c2xldzk5aklai/000007.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c7c8b29f2h6lw/000005.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c7c8b29f2h6lw/000006.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c7c8b29f2h6lw/000006.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c7c8b29f2h6lw/000006.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c83bftcfhqxz7/000013.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c83bftcfhqxz7/000014.html
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c83bftcfhqxz7/000014.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c83bftcfhqxz7/000015.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c83bftcfhqxz7/000015.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/c83bftcfhqxz7/000015.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/cdf6mfv5tfvq7/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/cgp2eezzktms8/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/chdama3l3ocsu/000009.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/chdama3l3ocsu/00000a.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/chdama3l3ocsu/00000a.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/chdama3l3ocsu/00000a.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/chunks.json
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/ct9juzl97usgx/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/146C607B8C526227/cyy0pruql8hrt/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c2xldzk5aklai/000004.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c2xldzk5aklai/000005.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c2xldzk5aklai/000005.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c2xldzk5aklai/000005.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c6a06byhlfypp/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c6a06byhlfypp/000003.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c6a06byhlfypp/000003.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c6a06byhlfypp/000003.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c7c8b29f2h6lw/000003.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c7c8b29f2h6lw/000004.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c7c8b29f2h6lw/000004.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c7c8b29f2h6lw/000004.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c83bftcfhqxz7/000010.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c83bftcfhqxz7/000011.html
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c83bftcfhqxz7/000011.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c83bftcfhqxz7/000012.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c83bftcfhqxz7/000012.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/c83bftcfhqxz7/000012.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/cdf6mfv5tfvq7/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/cgp2eezzktms8/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/chdama3l3ocsu/000007.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/chdama3l3ocsu/000008.metadata
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/chdama3l3ocsu/000008.png
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/chdama3l3ocsu/000008.snapshot
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/ct9juzl97usgx/000002.csv
.Rproj.user/shared/notebooks/693C1EF6-titanic_eda/1/s/cyy0pruql8hrt/000002.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
